*{
    margin: 0;
    padding: 0;
}

body{
    background:beige;
}

/* CSS for the Main Header Box - Including the title section for the header */
.header{
    width:100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background: salmon;
    position: relative;
}

.title{
    color: black;
    font-size: 30px;
    padding-top: 1%;
}

/* CSS for the card Section */
.card-holder{
    background:red;
    margin: 5px;
    width: 99.5%;
    height: 500px; 
    display: flex;
    justify-content: center;
}
.card-1, .card-2{
    padding-top: 5%;
    margin:1%;
    position: relative;
    
}

/* CSS for the button */

.button-cards{
    display: flex;
    justify-content: center;
}

button{
    background:greenyellow;
    height: 30px;
    width: 200px;
    transition: 1.0;
}
